<h1>Group Tasks</h1>
<ul>
  {{#each tasks}}
    <li>
      {{task_name}} - 
      {{#if assigned_user}}
        Assigned to: {{assigned_user}}
      {{else}}
        <span>Unassigned</span>
      {{/if}}

      <!-- Show "Mark Complete" button only if task is assigned to the logged-in user -->
      {{#if (eq assigned_user ../username)}}
        <button onclick="completeTask({{id}})">Mark Complete</button>
      {{/if}}
    </li>
  {{else}}
    <p>No tasks available.</p>
  {{/each}}
</ul>

<script>
  function completeTask(taskId) {
    fetch(`/complete-task/${taskId}`, { method: 'POST' })
      .then(() => location.reload());
  }
</script>
